@font-face {
    font-family: Stam;
    src: url(/fonts/Stam.ttf);
}

* {
    font-family: 'Rubik', sans-serif; /*lch*/
    font-family: 'Alef', sans-serif; /*lch*/
    font-family: 'Heebo', sans-serif; /*lh*/
    font-family: 'Arimo', sans-serif; /*lch*/
    font-family: 'Varela Round', sans-serif; /*lh*/
    font-family: 'Assistant', sans-serif; /*lh*/
}

h1, h2, h3, h4, h5, h6 {
    -webkit-margin-before: 1.5em;
    -webkit-margin-after: .5em;
}

body {
    margin: 0;
    background: linear-gradient(rgba(210, 220, 225, 1), rgba(255, 255, 255,0) 250px);
    min-height: 100vh;
}

a {
    color: #0070FF;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: center;
}

.container {
    padding: 1em 1.5em;
    width: 100%;
    box-sizing: border-box;

    transition: padding .25s;
}

nav .container img {
    transition: height .25s;
}

.content .container {
     width: 1200px;
}

ul.nav.navbar-nav {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.course-block {
    margin-bottom: 6em;
    /*width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;*/
    display: flex;
    flex-wrap: wrap;
}

#app-navbar-collapse {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-top: 1em;
}

.navbar-right {
    
}

.navbar:not(.navbar-right) li {
    -webkit-margin-end: 1em;
}

.navbar-right li {
    -webkit-margin-start: 1em;
}

h2 {
    /*width: 100%;
    max-width: 1150px;*/
    /*margin: 0 auto;*/
}

.course-thumbnail {
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 32px;
    -webkit-margin-start: 0;
    text-align: start;
    display: flex;
    flex-direction: column;
    position: relative;
}

.course-thumbnail h4 {
    margin: .5em 0;
}

.image-wrapper {
    height: 67%;
    background-size: cover;
    background-position: center;
    /*background-image: url(//lorempixel.com/298/267/);*/
}

.course-thumbnail-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: .75em;
}

.slick-prev:before, .slick-next:before {
    opacity: 1;
    color: #999 !important;
}


form {
    width: 100%;
    margin: 0 auto;
}

form input,
form textarea,
form select {
    font-size: 18px;
    padding: 1em;
    border-radius: .25em;
    border: 1px #ccc solid;
    box-sizing: border-box;
}
form textarea,
form input,
form select {
    width:100%;
}
form input[type=checkbox] {
    width: auto;
}

form input[type=submit] {
    color: white;
    cursor: pointer;
}

form input[type=submit].create,
form a.create {
    background: #337ab7;
}

form input[type=submit].delete,
form a.delete {
    background: #993333;
}

form input[type=submit].save,
form a.save {
    background: #337ab7;
}

a.save {
    color: white;
    cursor: pointer;
    background: #337ab7;

    width:100%;
    
    font-size: 18px;
    padding: 1em;
    border-radius: .25em;
    border: 1px #ccc solid;
    box-sizing: border-box;
}

form img,
form input,
form textarea {
    margin: .5em 0;
}
form img {
    height: 100px
}

form .edit-block {
    margin-bottom: 2em;
    padding: 1em;
    border: 1px #ccc solid;
    border-radius: .5em;
    background: #eee;
}
form .edit-block.double {
    display: flex;
}
form .edit-block.double > div {
    width: 50%;
}
form .edit-block.double > div:first-child {
    margin-right: 1em;
}

.new-post-button-wrapper {
    text-align: center;
    padding: 0 0 1em;
}

.new-post-button-wrapper a {
    padding: .75em 1em;
    color: white;
    border-radius: .5em;
    margin: 0 0 1em;
    display: inline-block;
    background: #337ab7;
    width: 100%;
}

.new-post-button-wrapper a:hover {
    text-decoration: none;
}

.lessons {
    background: #fff;
    padding: 1.5em 2em;
    box-sizing: border-box;
    width:100%;
    border: 1px solid #ccc
}

.lesson {
    margin-bottom: 2em;
}

.lesson hgroup {
    margin-bottom: 1em
}

.lesson h2 {
    font-size: 18px;
    /*font-weight: normal;*/
}

.lesson h3 {
    margin: 0;
    font-weight: normal;
}

.preface {
    font-size: 24px;
}

.preface, .page-content {
    max-width: 1150px !important;
    width: 100%;
    margin: 0 auto;
}

.preface p {
    margin: .75em 0;
}

.page-content {
    font-size: 20px;
}

.links-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.links-wrapper a, .links-wrapper span {
    margin: 0 .5em;
    padding: 4px;
    border-bottom-width: 1px;
}

.links-wrapper span {
    border-bottom-style: solid;
    border-bottom-color: #0005;
}

.sulam-quote {
    font-family: 'Times', serif !important;
}

/*border-bottom: 1px solid #0005;
border-radius: 0;*/


.sublinks-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
}

.sublinks-wrapper a, .sublinks-wrapper span {
    display: inline-block;
    margin: .25em;
    padding: 4px 8px;
    border-radius: 4px;
    background: rgba(0, 150, 220, .2);
}

.sublinks-wrapper a:hover, .sublinks-wrapper span:hover {
    background: rgba(0, 150, 220, .3);
}