a {
    color: #0070FF;
    text-decoration: none;
}

a:hover {
    color: #832A0D;
}

.nav-tabs {
	text-align: center;
	font-size: 18px;
	box-sizing: content-box !important;
	margin: 2em 0;
    display: flex;
    justify-content: center;
}

.nav-tabs a, .nav-tabs span {
	color: black;
	padding: .5em 1em;
	display: inline-block;
}

.nav-tabs a {
	text-decoration: none;
	/*background: rgba(100,50,150,.1);*/
    background: rgba(0, 150, 220, .1);
}

.nav-tabs a:hover {
	/*background: rgba(100,50,150,.2);*/
    background: rgba(0, 150, 220, .2);
}

.nav-tabs span {
    /*background: rgba(100,50,150,.3);*/
    background: rgba(0, 150, 220, .3);
    /*color: white;*/
}

.nav-tabs a:first-child,
.nav-tabs span:first-child,
.nav-tabs.rtl a:last-child,
.nav-tabs.rtl span:last-child {
    border-radius: 4px 0 0 4px;
}

.nav-tabs a:last-child,
.nav-tabs span:last-child,
.nav-tabs.rtl a:first-child,
.nav-tabs.rtl span:first-child {
    border-radius: 0 4px 4px 0;
}