/*.course-thumbnail {
    min-width: calc(100%/3 - 16px) !important;
    max-width: calc(100%/3 - 16px) !important;
}

.course-block-container {
    width: 900px !important;
}*/

.preface {
	/*width: 500px !important;*/
}